**/db
**/.qsys_edit
**/incremental_db
**/output_files
**/*.sopcinfo
**/boot/boot
**/boot/software
**/factory/factory
**/factory/software
**/vision/software
**/vision/vision
**/NIOS/.metadata/
**/NIOS/RemoteSystemsTempFiles/
